* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: #f0f0f0;
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  padding: 10px;
  z-index: 10;
}

#menuBtn {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ludoBoard {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100vmin;
  height: 100vmin;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
}

.cell {
  border: 1px solid #ccc;
}

.base {
  background: transparent !important;
  border: none;
  background-image: url('IMG_20250807_222955.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.path {
  background-color: white;
}

.home {
  background-color: gold;

}
